<footer>
  <ul class="nav justify-content-center nav-light bg-dark row">
    <li class="nav-item col-3">
      <h5>Redes Sociales</h5>
      <br>
      <ul id="lista">
        <li><img src="../../assets/images/facebook.gif">Facebook</li>
        <br>
        <li><img src="../../assets/images/instagram.gif">Instagram</li>
        <br>
        <li><img src="../../assets/images/linkedin.svg">Linkedin</li>
        <br>
        <li><img src="../../assets/images/twitter.svg">Twitter</li>
        <br>
      </ul>
    </li>
    <li class="nav-item col-3">
      <h5>Compañia</h5>
      <br>
      <ul id="lista">
        <li>Nosotros</li>
        <br>
        <li>Trabaja con nosotros</li>
        <br>
        <li>Copyright</li>
      </ul>
    </li>
    <li class="nav-item col-3">
      <h5>Centro de Ayuda</h5>
      <br>
      <ul id="lista">
        <li><img src="../../assets/images/tel.png">Contacto <br> +57 311-598-1202</li>
        <br>
        <li>Aviso Legal</li>
      </ul>
    </li>
  </ul>

</footer>
