#logo{
  padding: 0;
  margin: 0;
  width: 120px;
  height: 120px;
}

#name{
  padding: 0;
  margin: 0;
  width: 300px;
  height: 80px;
  margin-top: 20px;

}

#link{
  padding: 35px;
  margin: 0;

}
