<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><h5>INFORMACION SOBRE LA SERIE RICK AND MORTY</h5></a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#fat">Que es</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mdo">Escritura
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">Narrativa</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#two">Criticas</a>

      </div>
    </li>
  </ul>
</nav>

<ul class="list-unstyled">
  <li class="media">
    <img id="img" class="mr-3" src="../../assets/images/rick.png" alt="Generic placeholder image">
    <div id="contain" class="media-body">
      <br>
      <h5 id="fat" class="mt-0 mb-1">Que es Rick and Morty</h5>
      <p>Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. La serie sigue las desventuras de un científico, Rick, y su fácilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e intergalácticos. Roiland es el encargado de darle voz a Rick y a Morty, la serie también incluye las voces de Chris Parnell, Spencer Grammer y Sarah Chalke.
        La serie se originó por un cortometraje rudimentario animado por Roiland para el festival de cine Channel 101 llamado Doc and Mharti, una parodia de los principales protagonistas de Back to the Future. Cuando la cadena NBC despidió a Harmon en 2013 por discusiones entre él y los ejecutivos de la serie que había creado, Community, él y Roiland desarrollaron una serie basada en los personajes ya creados por Roiland.1</p>
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="../../assets/images/rick1.png" alt="Generic placeholder image">
    <div id="contain" class="media-body">
      <br>
      <h5 id="mdo" class="mt-0 mb-1">Escritura</h5>
      <p>La fórmula general en Rick y Morty consiste en la yuxtaposición de dos escenarios que confluyen. Por un lado se muestran las aventuras que vive un abuelo extremadamente egoísta y alcohólico por lo vasto y desconocido del espacio intergaláctico o interdimensional, el cual arrastra a su nieto para que viaje con él. Estas aventuras se intercalan en cada episodio con dramas domésticos familiares más propios del género sitcom.2​3​ Dan Harmon describe esta fusión de ciencia ficción y ambiente familiar como una mezcla de influencias entre las dos obras de Matt Groening: Los Simpson y Futurama.4​ Por otro lugar, el coautor Justin Roiland comunicó la intención de los creadores de que la serie sobrepasara la continuidad tradicional en la televisión, optando así por storylines discontinuas, «no fijadas por reglas». Roiland describe cada episodio como «[su] propio punto de vista».</p>
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="../../assets/images/rick2.png" alt="Generic placeholder image">
    <div id="contain" class="media-body">
      <br>
      <h5 id="one" class="mt-0 mb-1">Narrativa</h5>
      <p>Dan Harmon ha escrito en muchas ocasiones sobre la narrativa audiovisual. La más importante que se plasma en Rick y Morty es la diferencia entre la narrativa básica de formato largometraje y la narrativa básica que tiene como soporte la televisión (aludiendo sobre todo al género sitcom).

        Todos los episodios de Rick y Morty siguen la estructura básica desarrollada por Harmon y que este llama «Embrión de una historia». Se trata de un esquema circular dividido en 8 pasos:

        1. Un personaje está en su zona de confort.
        2. Pero quiere algo.
        3. Entra en una situación no reconocida.
        4. Se adapta a ello.
        5. Consigue lo que quiere.
        6. Pero paga un alto precio.
        7. Vuelve a la situación de partida, cómoda.
        8. Ha cambiado.
        Rick y Morty sigue este esquema pero adaptado a las series de televisión. La principal diferencia se encuentra en el concepto de cambio, el cual el propio Harmon opina que la televisión destruye. Según el coautor, la televisión «sustituye cualquier verdad significativa y por tanto potencialmente subvertiente que da la televisión con la "verdad" básica y eterna de que el cambio es innecesario». Así pues, el esquema circular quedaría así.

        1. El protagonista.
        2. Nota un pequeño problema.
        3. Toma una decisión importante.
        4. Esto provoca cambios.
        5. Que dan satisfacción.
        6. Pero hay consecuencias.
        7. Que deben ser neutralizadas.
        8. El protagonista debe admitir la futilidad del cambio.
        La creación de este círculo estructural ha sido claramente influenciada por El héroe de las mil caras, de Joseph Campbell. También se puede apreciar similitudes con las teorías del guion cinematográfico que el autor Robert McKee revela en su obra El guion.</p>
    </div>
  </li>
  <br>

  <li class="media">
    <img class="mr-3" src="../../assets/images/rick3.png" alt="Generic placeholder image">

    <div id="contain" class="media-body">
      <br>
      <h5 id="two" class="mt-0 mb-1">Criticas</h5>
      <p>Rick y Morty ha recibido aclamación por parte de la crítica general, con una calificación de aprobación del 97% en el sitio web especializado Rotten Tomatoes.27​ Además, en el sitio web Metacritic la primera temporada tiene una puntuación de 85 sobre 100.28​ David Weigan, del San Francisco Chronicle, describe la serie como “poco convencional y ocasionalmente cruda… lo que la hace funcionar”. Alaba también la dirección de animación, a cargo de James McDermott, por ser “fresca, colorida y tan chiflada como el guion”; y afirma que la serie posee «sombras de Futurama, South Park e incluso Beetlejuice», opinando finalmente que su humor es «totalmente original».29​</p>
    </div>
  </li>
</ul>

